body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #000;
  color: #e5e5e5;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #111;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
}

/* HERO */
.hero {
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 56px;
  margin: 0;
}

.hero h2 {
  font-weight: 300;
  color: #aaa;
}

.cta {
  margin-top: 20px;
  padding: 12px 24px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 100px 40px;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* CARD */
.card {
  background: #050505;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #111;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #111;
}

/* ANIMATIONS */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal-strong {
  opacity: 0;
  transform: translateY(70px);
  transition: 1s;
}

.reveal-strong.active {
  opacity: 1;
  transform: translateY(0);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.skill {
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
}

.bar {
  background: #111;
  height: 10px;
  border-radius: 6px;
}

.bar div {
  height: 10px;
  background: white;
  border-radius: 6px;
}

.card {
  background: #050505;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #111;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(255,255,255,0.05);
}
