body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #000;
  color: #e5e5e5;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 22px 50px;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #111;
  position: sticky;
  top: 0;
}

.logo {
  letter-spacing: 2px;
}

.navbar nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #aaa;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 48px;
  font-weight: 300;
}

.hero p {
  color: #888;
  margin-bottom: 30px;
}

button {
  padding: 14px 30px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 100px 60px;
}

/* PROJECT GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #050505;
  padding: 40px;
  border-radius: 14px;
  border: 1px solid #111;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  border-color: #333;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #333;
  padding-bottom: 2px;
}

.card a:hover {
  border-color: white;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
