body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(120deg, #0f172a, #020617);
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
}

/* GRADIENT TEXT */
#typing {
  background: linear-gradient(90deg, #3b82f6, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
}
